<tr id="organisation<%= organisation.org_id %>" class="govuk-table__row">
  <td class="govuk-table__cell"><%= organisation.name %></td>
  <td class="govuk-table__cell">
    <% users = organisation.users %>
    <% if users.size == 1 %>
      <%= user_details(users.first) %>
    <% else %>
      <ul class="govuk-list govuk-list--bullet">
        <% users.map do |u| %>
          <li><%= user_details(u) %></li>
        <% end %>
      </ul>
    <% end %>
  </td>
  <td class="govuk-table__cell">
    <% institutions = organisation.institutions %>
    <% if institutions.size == 1 %>
      <%= institution_details(institutions.first) %>
    <% else %>
      <ul class="govuk-list govuk-list--bullet">
        <% institutions.map do |i| %>
          <li><%= institution_details(i) %></li>
        <% end %>
      </ul>
    <% end %>
  </td>
</tr>
