<%= form_for @emailed_access_request, url: {action: "preview"}, method: "get" do |f| %>
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Create access request
      </h1>
    </legend>

    <p class="govuk-body">
      Use this form to create an access request and approve it immediately.
    </p>

    <div class="govuk-form-group">
      <%= f.label :requester_email, "Requester email", class: "govuk-label" %>
      <%= f.email_field :requester_email, class: "govuk-input govuk-input--width-20", required: true %>
    </div class="govuk-form-group">

    <div class="govuk-form-group">
      <%= f.label :target_email, "Target email", class: "govuk-label" %>
      <%= f.email_field :target_email, class: "govuk-input govuk-input--width-20", required: true %>
    </div class="govuk-form-group">

    <div class="govuk-form-group">
      <%= f.label :first_name, "First name", class: "govuk-label" %>
      <%= f.text_field :first_name, class: "govuk-input govuk-input--width-20", required: true %>
    </div class="govuk-form-group">

    <div class="govuk-form-group">
      <%= f.label :last_name, "Last name", class: "govuk-label" %>
      <%= f.text_field :last_name, class: "govuk-input govuk-input--width-20", required: true %>
    </div class="govuk-form-group">

    <%= f.submit "Preview", class: 'govuk-button' %>
  </fieldset>
<% end %>
