<% content_for :heading do %>
  Progress with training providers
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l"><%= number_with_delimiter(@report[:orgs_with_allocations], delimiter: ',') %> organisations with allocations</h2>

    <%= render partial: "stat", locals: { stat_title: "Organisations transitioned", stat_key: :orgs_transitioned } %>

    <%= render partial: "stat", locals: { stat_title: "Organisations with UCAS courses", stat_key: :orgs_with_ucas_courses } %>

    <%= render partial: "stat", locals: { stat_title: "Organisations with an active user", stat_key: :orgs_with_active_users } %>

    <%= render partial: "stat", locals: { stat_title: "Organisations which have started adding 'About your org' info", stat_key: :orgs_with_started_inst_enrichments } %>

    <%= render partial: "stat", locals: { stat_title: "Organisations which have published 'About your org' info", stat_key: :orgs_with_published_inst_enrichments } %>

    <%= render partial: "stat", locals: { stat_title: "Organisations which have started adding course info", stat_key: :orgs_with_started_course_enrichments } %>

    <%= render partial: "stat", locals: { stat_title: "Organisations which have published course info", stat_key: :orgs_with_published_course_enrichments } %>
  </div>
</div>
